* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: black;
    text-decoration: none;
    outline: none;
    border: none;
}

:root {
    --green: rgb(3, 87, 82);
}

body{
    background: whitesmoke;
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.logocontainert h1 {
    font-size: 20px;
    font-weight: bold;
    color: var(--green);
}

nav a {
    color: var(--green);
}

.navbtncontainer button {
    background: var(--green);
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: all 500ms ease-in;
}

.navbtncontainer button:hover {
    background: transparent;
    border: .5px solid var(--green);
    color: var(--green);
}

.flyercontainer {
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flyerparacontainer {
    width: 300px;
}

.flyerimgcontainer {
    position: relative;
}

.circlecontainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 50px;
    z-index: -1;
}

.circle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: var(--green);

}

.circle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: greenyellow;
}

.circle3 {
    right: 50px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: yellow;
}

.fliertectcontainer h2 {
    font-size: 30px;
}

.fliertectcontainer h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--green);
}

.buscontsiner {
    border: .5px solid var(--green);
    padding: 5px 10px;
    text-align: center;
    margin: 10px 0px;
    transform: rotate(-2deg);
}

.flyertextbtncontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0px;
}

.flyertextbtncontainer button:nth-child(1) {
    background: transparent;
    color: var(--green);
    border: .5px solid var(--green);
    padding: 5px 5px;
}

.flyertextbtncontainer button:nth-child(2) {
    background: var(--green);
    color: white;
    padding: 5px 5px;
}

.forexcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.buttonrightcontainer button {
    background: white;
    color: var(--green);
    padding: 5px 10px;
    border: .5px solid var(--green);
    margin: 10px 0px;
}

.ipadbtncontainer button {
    background: var(--green);
    color: white;
    border: .5px solid var(--green);
    margin: 20px 0px;
    padding: 5px 10px;
}

.ourservicecontainer {
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0px;
    flex-wrap: wrap;
}

.top h2 {
    font-weight: bold;
    color: var(--green);
    padding: 8px 0px;
}

.top h3 {
    font-weight: bold;
    color: black;
    font-size: 25px;
    padding: 8px 0px;
}

.top p {
    color: black;
    font-size: 13px;
    padding: 5px 0px;
}

.groupcontainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: whitesmoke;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.sixgroup {
    padding: 20px;
    margin: 20px 5px;
    border: .5px solid white;
    text-align: center;
    background: white;
}

.sixgroup h2 {
    font-weight: bold;
    color: var(--green);
}

.sixgroup h3 {
    font-weight: bold;
    color: black;
}

.sixgroup h2 {
    font-weight: bold;
    color: var(--green);
}

.sixgroup2 {
    padding: 20px 20px;
    margin: 20px 5px;
    border: .5px solid white;
    text-align: center;
    background: var(--green);
}

.sixgroup2 h3 {
    font-weight: bold;
    color: white;
}

.sixgroup2 h2 {
    font-weight: bold;
    color: white;
}

.sixgroup2 p {
    font-weight: bold;
    color: white;
}

.clientcontainer {
    display: grid;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.clientcontainer h2 {
    text-align: center;
    padding: 10px 0px;
    color: var(--green);
    font-weight: bold;
}

.clientcontainer p {
    text-align: center;
    padding: 10px 0px;
    font-size: 15px;
}

.clientboxcontainer {
    border: .5px solid var(--green);
    width: 500px;
    padding: 20px 20px;
    margin-bottom: 40px;
    display: flex;
    gap: 30px;
}

.logoside {
    text-align: center;
}

.logoside h3 {
    color: var(--green);
    font-weight: bold;
}

.logoside p1 {
    color: black;
    font-size: 12px;
}

.clientcontainer p2 {
    color: black;
    font-size: 12px;
    border-left: 1px solid var(--green);
    padding-left: 20px;
}

.inputthreecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.inputthreecontainer p {
    color: var(--green);
}

.f234container {
    background: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 10px;
    gap: 20px;
}

.f234group {
    border: .5px solid transparent;
    display: grid;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 20px;
    background: rgb(180, 168, 168);
}

.f234group h2{
    color: white;
}

.f234group h3{
    color: white;
}

.pricingcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background: whitesmoke;
}

.pricingcontainer h3{
    font-weight: bold;
}

.pricingboxcontainert{
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 50px 10px;
    gap: 30px;
    background: whitesmoke;
}

.boxcontainer{
    border: .5px solid white;
    padding: 50px 0px;
    margin: 50px 0px;
    background-color: white;
}

.card{
    width: 200px;
    padding: 20px 10px;
    border: .5px solid var(--green);
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    transition: all .5s linear;
    animation-name: JAY;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    

}

.card p{
    margin: 10px 0px;
}

.card button{
    padding: 10px 20px;
    background: var(--green);
    color: white;
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    perspective: 400px;

}

.card:hover{
    /*transform: scale(1.5); */
    /*transform: rotateY(20deg); */
    transform: translateX(20px);
}

@keyframes JAY{
    from{
        background: red;
    }
    to{
        background: white;

    }
}

@media screen and (max-width:800px){
    nav{
        position: absolute;
        background: white;
        top: 50px;
        display: grid;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        z-index: 4839848;
        left: 0;
        padding: 20px;
        transform: translateX(-100%);
        transition: all .5s linear;
        /* display: none, */
    }
    nav a{
        padding: 10px 0px;
    }

    .logocontainert:hover + nav{
        transform: translate(0px);
    }
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /
  }
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .container {
    border: .5px solid black;
    border-radius: 5px;
    background: white;
    margin: 150px;
    padding: 20px;
  }
  .maincontainer{
    background: var(--green);
  }